/** {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  outline: none;
}
*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
html,body{
	min-height: 100%;
	background-color: #EFF2F7;
	font-family: 'Roboto','Helvetica Neue',Helvetica, Arial, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
}
a {
  color: inherit; 
  text-decoration: inherit;
}
textarea{
	border: 1px solid #2b579a;
}*/
.button {
	padding: 10px 15px;
	border-radius: 2px;
	display: inline-block;
	background-color: #FF5216;
	font-weight: 400;
	border: 1px solid #FF5216;
	cursor: pointer;
	text-decoration: none;
	font-family: Roboto;
	font-size: 1rem;
	margin-bottom: 15px;
	color: #fff;
	box-shadow: 0 0 30px 0 rgba(30,30,30,0.1), 0 0 0 transparent;
	transition: 300ms all;
}
.button:visited {
	color: #fff;
	text-decoration: none;
}
.button:hover {
	color: #fff;
	background-color: $blue;
	text-decoration: none;
	transform: translateY(-1px);
	box-shadow: 0 0 30px 0px rgba(30,30,30,0.2), 0 0 0 transparent;
}